.main-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.black {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 3px;
  background-color: black;
}

.pallet {
  border: 1px solid black;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 3px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 1px 2px #2B3045,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
  rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.rainbow-hover {
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.rainbow-hover2 {
  font-size: 20px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  margin-left: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 40px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
}

.sp {
  background: linear-gradient(
      90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}

.pixel-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  max-width: 50%;
}

.gridizinho {
  border: 1px solid gray;
  display: inline-block;
  height: 20px;
  width: 20px;
}

@media (max-width: 552px) {
  .pixel-grid {
    max-width: 90%;
  }

  .gridizinho {
    height: 40px;
    width: 40px;
  }
}


@media (max-width: 375px) {
  .pixel-grid {
    max-width: 50vh;
  }

  .gridizinho {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 390px) {
  .pixel-grid {
    max-width: 50vh;
  }

  .gridizinho {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 820px) {
  .pixel-grid {
    max-width: 70vh;
  }

  .gridizinho {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 280px) {

  .pixel-grid {
    max-width: 50vh;
  }

  .gridizinho {
    height: 25px;
    width: 25px;
  }
}